@import './reset.css';

.photoContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    gap: 10px;
    justify-items: center;
    align-items: center;
    font-size: 20px;
}
